.companion-view-button {
    background-image: url("project://database/Assets/Sprites/UI/CombatScreen_HoverButton.png?fileID=2800000&guid=5a7e6950ede86cb47811b1d9e1947916&type=3#CombatScreen_HoverButton");
}
