.companion-view-status-indicator {
    flex-grow: 0;
    background-color: rgb(153, 153, 153);
    flex-shrink: 0;
    height: 24%;
    translate: 15% 0;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    margin-left: 4px;
}
