.companion-view-button {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(149, 113, 29);
    border-right-color: rgb(149, 113, 29);
    border-top-color: rgb(149, 113, 29);
    border-bottom-color: rgb(149, 113, 29);
    background-color: rgb(255, 255, 255);
}
