.enemytest {
    flex-grow: initial;
    background-color: rgba(0, 0, 0, 0);
    flex-shrink: initial;
    min-width: 20%;
    min-height: 10px;
    -unity-text-outline-width: 2px;
    background-image: url("project://database/Assets/Sprites/CardArt/EntropysCards/EntrophyCardFront2.PNG?fileID=2800000&guid=c97940a1e9a2e1a4092225af645c54fb&type=3#EntrophyCardFront2");
}

.pillar-tab-text {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    -unity-text-align: middle-center;
}

.status-tab-text {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    -unity-text-align: middle-center;
    background-color: rgba(255, 255, 255, 0.63);
}

.entity-pillar {
    flex-grow: 0;
    width: 12.5%;
    height: 98%;
    max-width: 12.5%;
    border-left-color: rgb(174, 151, 126);
    border-right-color: rgb(174, 151, 126);
    border-top-color: rgb(174, 151, 126);
    border-bottom-color: rgb(174, 151, 126);
}

.top-triangle {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 10%;
    background-image: url("project://database/Assets/UI/triangle.png?fileID=2800000&guid=8a3e79ce7baac0c44a91cce8f35e58bb&type=3#triangle");
    -unity-background-image-tint-color: rgb(174, 151, 126);
    -unity-background-scale-mode: stretch-to-fill;
    width: 100%;
    align-self: center;
}

.pillar-card-column {
    flex-grow: 1;
    background-color: rgb(174, 151, 126);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    min-width: auto;
    min-height: auto;
}

.pillar-container {
    flex-grow: 0;
    background-color: rgb(174, 151, 126);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    min-width: auto;
    min-height: auto;
    height: 80%;
}

.portrait-container {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    background-image: none;
}

.pillar-details {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 50%;
    align-items: center;
}

.pillar-name {
    flex-grow: 1;
    background-color: rgb(174, 151, 126);
    height: 20%;
    width: 110%;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    align-items: center;
}

.pillar-name {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    -unity-text-align: upper-center;
}

.pillar-text {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 80%;
    width: 100%;
}

.health-tab {
    flex-grow: 0;
    position: relative;
    width: 37px;
    height: 37px;
    justify-content: center;
    flex-shrink: 1;
    margin-bottom: 12px;
    background-image: url("project://database/Assets/UI/heart.png?fileID=2800000&guid=82616f53fbf77bc4bbb3545e097e5104&type=3#heart");
}

.block-tab {
    flex-grow: 0;
    position: relative;
    width: 37px;
    height: 37px;
    justify-content: center;
    flex-shrink: 1;
    margin-bottom: 12px;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/block.png?fileID=2800000&guid=dc2691b0a220a3a45b5946651905449b&type=3#block");
}

.status-tab {
    flex-grow: 0;
    position: relative;
    width: 37px;
    height: 37px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    justify-content: center;
    flex-shrink: 1;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bicep.png?fileID=2800000&guid=ed55b8c3c8cddf84e9879c69c720553a&type=3#bicep");
    margin-bottom: 12px;
    margin-right: 12px;
}

.pillar-desc-label {
    height: 100%;
    width: 100%;
    white-space: normal;
    align-self: flex-start;
    -unity-text-align: upper-center;
}

.cardPlace {
    width: 50%;
    background-image: none;
    height: 80%;
}

.companion-cards-placer {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    min-width: auto;
    min-height: auto;
    width: 30%;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.entity-pillar2 {
    max-width: 39%;
}

.xyuz {
    max-width: 25%;
}

.status-effect {
    flex-grow: 1;
    background-color: rgb(88, 67, 44);
    position: relative;
    width: 16%;
    height: 12%;
    top: 30px;
    left: 191px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-bottom: 0;
    margin-bottom: 19px;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
}

.status-effect-image {
    flex-shrink: 0;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bicep.png?fileID=2800000&guid=ed55b8c3c8cddf84e9879c69c720553a&type=3#bicep");
    flex-basis: 50%;
    min-width: 26px;
}

.status-effect-text {
    flex-shrink: 0;
    flex-basis: 50%;
}

.pillar-left-column {
    width: 20%;
    position: absolute;
    height: 100%;
    left: -10%;
}

.pillar-right-column {
    width: 20%;
    position: absolute;
    height: 100%;
    right: -10%;
}

.pillar-tab-container {
    flex-grow: 0;
    width: 100%;
    top: 6%;
    white-space: normal;
    flex-wrap: wrap;
    max-height: 58%;
}

.status-container {
    flex-grow: 0;
    height: 50%;
}

.status-image {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bicep.png?fileID=2800000&guid=ed55b8c3c8cddf84e9879c69c720553a&type=3#bicep");
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
    height: 50%;
}

.pillar-name-label-text {
}

.health-tab-text {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 20px;
    -unity-text-align: middle-center;
}

.pillar-enemy-intent-text {
    height: 47%;
    width: 100%;
    white-space: normal;
    align-self: flex-start;
    -unity-text-align: upper-center;
    font-size: 30px;
}

.enemy-intent-image {
    flex-grow: 0;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bigSword.png?fileID=2800000&guid=9c7b553a4a5050646818dbc514a54e9a&type=3#bigSword");
    height: 20%;
    min-height: 40%;
    width: 50%;
    align-self: center;
}

.pillar-drawer-container {
    flex-grow: 0;
    background-color: rgb(174, 151, 126);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    min-width: auto;
    min-height: auto;
    height: 10%;
    flex-direction: row;
}

.drawer-button {
    background-color: rgb(174, 151, 126);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    width: 45%;
    align-self: auto;
    flex-shrink: 0;
    margin-top: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.pillar-hover-box {
    flex-grow: 0;
    position: absolute;
    flex-shrink: 0;
    width: 110%;
    height: 50%;
    bottom: -2%;
    align-self: center;
}
