.enemytest {
    flex-grow: initial;
    background-color: rgba(0, 0, 0, 0);
    flex-shrink: initial;
    min-width: 20%;
    min-height: 10px;
    -unity-text-outline-width: 2px;
    background-image: url("project://database/Assets/Sprites/CardArt/EntropysCards/EntrophyCardFront2.PNG?fileID=2800000&guid=c97940a1e9a2e1a4092225af645c54fb&type=3#EntrophyCardFront2");
}

.portrait-container {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 92%;
    background-image: none;
    width: 90%;
    max-height: 92%;
}

.cardPlace {
    width: 50%;
    background-image: none;
    height: 80%;
}

.companion-cards-placer {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0);
    min-width: auto;
    min-height: auto;
    width: 30%;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.entity-pillar2 {
    max-width: 39%;
}

.xyuz {
    max-width: 25%;
}

.status-effect {
    flex-grow: 1;
    background-color: rgb(88, 67, 44);
    position: relative;
    width: 16%;
    height: 12%;
    top: 30px;
    left: 191px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-bottom: 0;
    margin-bottom: 19px;
    align-items: center;
    justify-content: flex-start;
    align-self: auto;
}

.status-effect-image {
    flex-shrink: 0;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bicep.png?fileID=2800000&guid=ed55b8c3c8cddf84e9879c69c720553a&type=3#bicep");
    flex-basis: 50%;
    min-width: 26px;
}

.status-effect-text {
    flex-shrink: 0;
    flex-basis: 50%;
}

.status-container {
    flex-grow: 0;
    height: 50%;
}

.status-image {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/bicep.png?fileID=2800000&guid=ed55b8c3c8cddf84e9879c69c720553a&type=3#bicep");
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
    height: 50%;
}

.pillar-name-label-text {
}

.unity-label {
}

.pillar-hover-box {
    flex-grow: 0;
    position: absolute;
    flex-shrink: 0;
    top: 42%;
    width: 128%;
    align-self: center;
    height: 65%;
}

.post-combat-background {
    background-image: url("project://database/Assets/Sprites/CardArt/EntropysCards/EntrophyCardFront2.PNG?fileID=2800000&guid=c97940a1e9a2e1a4092225af645c54fb&type=3#EntrophyCardFront2");
}

.main-menu-button {
    font-size: 20px;
    width: 191px;
    height: 65px;
    background-image: url("project://database/Assets/Sprites/ShopSprites/NextButton.png?fileID=2800000&guid=c1295640e92e3c24d95eca3f4d8a08e0&type=3#NextButton");
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    align-self: center;
    top: 28%;
}

.money-indactor-background {
    flex-grow: 1;
    position: absolute;
    left: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-image: url("project://database/Assets/Sprites/Z_OldPlaceholderSprites/money_background.png?fileID=2800000&guid=9a032b794c2e74915a1a0e224767fcad&type=3#money_background");
    align-items: center;
    justify-content: center;
}

.money-indicator-text {
    -unity-font-style: bold;
    font-size: 31px;
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
}

.companion-card-placer {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.companion-card-placer-collapsed {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    display: none;
}

.cardContainer {
    align-items: center;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.end-turn-button:focus {
    background-color: rgb(126, 126, 126);
}

.button-hover {
    -unity-background-image-tint-color: rgb(180, 188, 113);
}

#next-scene:hover {
    -unity-background-image-tint-color: rgb(180, 188, 113);
}

#next-scene:focus {
    -unity-background-image-tint-color: rgb(180, 188, 113);
}

.post-combat-text {
    -unity-text-align: upper-center;
    -unity-font-style: bold;
    font-size: 48px;
    color: rgb(255, 255, 255);
}
