.main-menu-button :hover {
    color: rgba(113, 113, 113, 255);
}

.main-menu-button {
    color: rgba(0, 0, 0, 255);
    background-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    font-size: 64px;
    margin-top: 0;
    padding-top: 100px;
}
