.unity-button {
    -unity-font-definition: initial;
    -unity-font: resource('fonts/Jost-VariableFont_wght');
}

.unity-label {
    -unity-font-definition: initial;
    -unity-font: resource('fonts/Jost-VariableFont_wght');
}
