.unity-label {
    color: rgb(255, 255, 255);
    -unity-font: resource('fonts/Jost-VariableFont_wght');
    -unity-font-definition: initial;
}

.unity-toggle__input {
    flex-direction: row-reverse;
}
